extends layout

block content
  nav.navbar.navbar-light.bg-light.static-top
    .container
      a.navbar-brand(href='#') Red de Bicicletas
      a.btn.btn-primary(href='#') Sign In
  // Masthead
  header.masthead.text-white.text-center
    .overlay
    .container
      .row
        .col-xl-9.mx-auto
          h1.mb-5 Movilidad Sostenible en America
          h3.mb-5 Comunidades sostenibles !!
        .col-md-10.col-lg-8.col-xl-7.mx-auto
          form
            .form-row
              .col-12.col-md-9.mb-2.mb-md-0
                input.form-control.form-control-lg(type='email' placeholder='Enter your email...')
              .col-12.col-md-3
                button.btn.btn-block.btn-lg.btn-primary(type='submit') Sign up!
  //MAPA
  .contanier
    #mainmap
      


  // MAPA
  section.showcase
    .container-fluid.p-0
      .row.no-gutters
        .col-lg-6.order-lg-2.text-white.showcase-img(style="background-image: url('img/bg-showcase-1.jpg');")
        .col-lg-6.order-lg-1.my-auto.showcase-text
          h2 Fully Responsive Design
          p.lead.mb-0
            | When you use a theme created by Start Bootstrap, you know that the theme will look great on any device, whether it&apos;s a phone, tablet, or desktop the page will behave responsively!
      .row.no-gutters
        .col-lg-6.text-white.showcase-img(style="background-image: url('img/bg-showcase-2.jpg');")
        .col-lg-6.my-auto.showcase-text
          h2 Updated For Bootstrap 4
          p.lead.mb-0
            | Newly improved, and full of great utility classes, Bootstrap 4 is leading the way in mobile responsive web development! All of the themes on Start Bootstrap are now using Bootstrap 4!
      .row.no-gutters
        .col-lg-6.order-lg-2.text-white.showcase-img(style="background-image: url('img/bg-showcase-3.jpg');")
        .col-lg-6.order-lg-1.my-auto.showcase-text
          h2 Easy to Use &amp; Customize
          p.lead.mb-0
            | Landing Page is just HTML and CSS with a splash of SCSS for users who demand some deeper customization options. Out of the box, just add your content and images, and your new landing page will be ready to go!
  // Testimonials
  section.testimonials.text-center.bg-light
    .container
      h2.mb-5 What people are saying...
      .row
        .col-lg-4
          .testimonial-item.mx-auto.mb-5.mb-lg-0
            img.img-fluid.rounded-circle.mb-3(src='img/testimonials-1.jpg' alt='')
            h5 Margaret E.
            p.font-weight-light.mb-0 &quot;This is fantastic! Thanks so much guys!&quot;
        .col-lg-4
          .testimonial-item.mx-auto.mb-5.mb-lg-0
            img.img-fluid.rounded-circle.mb-3(src='img/testimonials-2.jpg' alt='')
            h5 Fred S.
            p.font-weight-light.mb-0
              | &quot;Bootstrap is amazing. I&apos;ve been using it to create lots of super nice landing pages.&quot;
        .col-lg-4
          .testimonial-item.mx-auto.mb-5.mb-lg-0
            img.img-fluid.rounded-circle.mb-3(src='img/testimonials-3.jpg' alt='')
            h5 Sarah W.
            p.font-weight-light.mb-0 &quot;Thanks so much for making these free resources available to us!&quot;
  // Call to Action
  section.call-to-action.text-white.text-center
    .overlay
    .container
      .row
        .col-xl-9.mx-auto
          h2.mb-4 Ready to get started? Sign up now!
        .col-md-10.col-lg-8.col-xl-7.mx-auto
          form
            .form-row
              .col-12.col-md-9.mb-2.mb-md-0
                input.form-control.form-control-lg(type='email' placeholder='Enter your email...')
              .col-12.col-md-3
                button.btn.btn-block.btn-lg.btn-primary(type='submit') Sign up!
  // Footer
  footer.footer.bg-light
    .container
      .row
        .col-lg-6.h-100.text-center.text-lg-left.my-auto
          ul.list-inline.mb-2
            li.list-inline-item
              a(href='#') About
            li.list-inline-item &sdot;
            li.list-inline-item
              a(href='#') Contact
            li.list-inline-item &sdot;
            li.list-inline-item
              a(href='#') Terms of Use
            li.list-inline-item &sdot;
            li.list-inline-item
              a(href='#') Privacy Policy
          p.text-muted.small.mb-4.mb-lg-0 &copy; Your Website 2020. All Rights Reserved.
        .col-lg-6.h-100.text-center.text-lg-right.my-auto
          ul.list-inline.mb-0
            li.list-inline-item.mr-3
              a(href='#')
                i.fab.fa-facebook.fa-2x.fa-fw
            li.list-inline-item.mr-3
              a(href='#')
                i.fab.fa-twitter-square.fa-2x.fa-fw
            li.list-inline-item
              a(href='#')
                i.fab.fa-instagram.fa-2x.fa-fw
  // Bootstrap core JavaScript
  script(src='vendor/jquery/jquery.min.js')
  script(src='vendor/bootstrap/js/bootstrap.bundle.min.js')
  script(src='../javascripts/map.js')
