extends ../layout

block content
    a(href='/bicicletas')  Volver 

    h1  Crear Bici 

    br

    br

    form(action='/bicicletas/create' method='post')
        label(for='id') ID
        br
        input#id(type='text' name='id' value='')
        br
        label(for='color') Color
        br
        input#color(type='text' name='color' value='')
        br
        br
        label(for='modelo') Modelo
        br
        input#modelo(type='text' name='modelo' value='')
        br
        br
        label(for='latitud') Latitud
        br
        input#latitud(type='text' name='longitud' value='')
        br
        br
        label(for='longitud') Longitud
        br
        input#longitud(type='text' name='latitud' value='')
        br
        br
        input.btn(type='submit' value='Crear')
