extends ../layout

block content
    a(href='/bicicletas')  Volver 

    h1  Actualizando Bici 

    br

    br

    form(action=`/bicicletas/${bici.id}/update` method='post')
        label(for='id') ID
        br
        input#id(type='text' name='id' value=bici.id)
        br
        label(for='color') Color
        br
        input#color(type='text' name='color' value=bici.color)
        br
        br
        label(for='modelo') Modelo
        br
        input#modelo(type='text' name='modelo' value=bici.modelo)
        br
        br
        label(for='latitud') Latitud
        br
        input#latitud(type='text' name='longitud' value=bici.ubicacion[0])
        br
        br
        label(for='longitud') Longitud
        br
        input#longitud(type='text' name='latitud' value=bici.ubicacion[1])
        br
        br
        input.btn(type='submit' value='Crear')
